.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

a {
  text-decoration: none;
  color: white;
  margin: 5%;
}

ul{
  list-style: none;
  padding: 0;
  margin-right : 5% ;
  li {
    display: inline;
  }
}

.space {
  flex: 1 1 auto ;
}
