<br><br><br>
<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>

    <form ngForm class="example-form" (submit)="onSubmit(loginForm)" #loginForm="ngForm">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input ngModel matInput placeholder="Email" name="email" type="email" #emailInput = "ngModel" required>
          <mat-error *ngIf="emailInput.invalid">Email Adress is required</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input ngModel matInput placeholder="Password" name="password" type="password" #passwordInput="ngModel" required>
          <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Sign-in</button>
    </form>
  </mat-card>

</div>
