/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(to top,#9a9a9b,#3f51b5) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
